main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    gap: 20px;
    
    .title{
        color: rgb(35, 134, 98);;;;
        margin-left: 30px;
        margin-top: 5px;
    }

    .box {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 60%;
        overflow-x: auto
      }
      .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
      }
      
      .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
      }
      .mat-elevation-z8 {    
        overflow-x: auto;
       }

    
}
@media (max-width: 800px) {
  .box{
    width: 80% !important;
  }
 }