main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
    gap: 20px;
    
    .title{
        color: rgb(35, 134, 98);;;;
        margin-left: 30px;
        margin-top: 5px;
    }

    .box {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%;
      }
      .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
      }
      
      .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
      }

    
}