.example-card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #eeecec;
  color: rgb(34, 34, 34);
  font-size: 14px;

  h6 {
    font-weight: 500;
    color: black;
    font-size: 20px;
  }
  img {
    height: 32px;
    width: 32px;
    border-radius: 10px;
  }

  .card_image {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    p {
      background-color: aquamarine;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .banners {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;

    section {
      border: 2px solid green;
      border-radius: 20px;
      background-color: rgb(244, 248, 248);
      display: flex;
      flex-direction: column;
    }

    .box {
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 90%;
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width: 768px) {
  .cards{
    display: flex;
    flex-direction: row !important;
  }
 .cards{
  width: 60% !important;
  align-self: center !important;
 }
 .box{
  width: 60% !important;
  align-self: center !important;
 }
}
