main {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  min-height: 100vh;
  width: 100%;

  header {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 100%;
    gap: 10px;
  
      a {
      display: flex;
      color: rgb(113, 113, 113);
      font-size: 0.875rem;
    }
    button {
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
      display: flex;
      
    }

    img {
      margin-top: 10px;
      width: 80px;
      height: auto;
    }

    .navbar {
      display: flex;
      color: rgb(113, 113, 113);
      font-size: 0.7rem;
      font-weight: 700;
      justify-content: space-between;
      width: 90%;
      align-self: center;
    }
    .button {
      display: flex;
      gap: 50px;
    }
  }

  .degrade {
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, #f0efef, white);
  }
  .content{
    flex: 1.4;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    margin-top: auto;
    font-size: 0.8rem;
    flex: 2;

    img {
      width: 100px;
      height: auto;
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
}
.navbar_icon {
  color: black;
}
@media (min-width: 768px) {
  footer{
    display: flex;
    flex-direction: row !important;
    font-size: 1.1rem !important;
  }
  .social{
    flex-direction: row !important;
  }
  .navbar{
    width: 70% !important;
    align-self: center !important;
  }
}
